.para1 {
color: blue;
font-family: sans-serif;
font-size: 20px;
border-style: solid;
  border-color: red;
}
#countries {
color: orangered;
font-family: arial;
font-size: 24px;
border-style: solid;
  border-color: midnightblue;
}
.gdps {
color: yellow;
font-family: arial;
font-size: 28px;
}
.country {
color: purple;
font-family: monospace;
font-size: 24px;
}